


/* scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

/* site */
body{
    background-color: #17604e;
}

/* header */
  .top{
    padding: 60px;
    text-align: center;
    background: #a4dd1f70;
    color: white;
    font-size: 30px;
    height: 140px;
    z-index: 2;
    border-radius: 5%;

  }
  

  #notice
  {
   float:left;
   position: relative;
   top:-49px


  }

/* menu */

/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}
/* navigation bar */
nav{
  height: 90px;
  background: #474b24af;
  

}
nav .navbar{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
/* text styling inside of navigation bar */


.logo{
  position:relative;
  left: -40%;
Float:left;

}
nav .navbar .logo a{
  font-size: 27px;

}

.navbar .logo a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}

/* postion for school,ahcivment,about */
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;


  /* color for SCHOOL,Achivement, About */

}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  color: #fdfffb;
  font-size: 15px;
  font-weight:70;
}

/* arrow */

            /* arrow animation */

            .links li:hover .school-arrow,

            .links li:hover .js-arrow{

              transform: rotate(180deg);
  
            }


          /* arrow color */
nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #f1f1f1;
  transition: all 0.3s ease;
  z-index: 10;
}

/* color/styling for submenu */
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #023117;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 14;
  
}
nav .navbar .links li:hover .school-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}

  /* webpage*/
 .to{
    background-color: #eaf0ba;
  height:2000px;
  width:99%;
  position:absolute;
  top:240px;
 padding: 50px;
  z-index: 1;
 
   }



  
 

 
